
body{
    background-color: grey;
}

.new{
border: 15px solid brown;
text-align: center;
font-size: 30px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-style: oblique;
margin-top: 20px;
word-spacing: 25px;
padding: 15px 20px 30px;
text-decoration: none;
touch-action: pinch-zoom;
border-radius: 2px;


 

    
}
#word{
    text-align: center;
    margin-top: 20px;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style:normal;
    color: rgb(61, 45, 60);
    padding: 15px 20px 30px ; 
  border: 15px solid brown;
}
    

.circle{
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    padding: 10px 20px 30px;
    margin-bottom: 10px;
    margin-left: 50px;
    

    

}


.para{
    text-align: center;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
}
.ab{
    text-decoration: none;
    
}

.dd{
    text-align: center;
    border: 15px solid brown;
    word-spacing: 20px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 15px 20px 30px;
    margin-top: 20px;
}

.cc{
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
}
.vv{
    text-align: left;
}

.ll{
    text-align: center;
    margin-top: 10px;
    border: 15px solid brown;
    padding-left: 15px 20 30;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 20px 15px;
    
}
.bot{
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: 30px;
}


    
    



    

